@inherits LayoutComponentBase

<MudThemeProvider />
<MudDialogProvider />
<MudSnackbarProvider />

<MudLayout>
    <MudAppBar>
        <span>What To Eat</span>
        <MudSpacer />
        <MudButton Variant="Variant.Text" OnClick="@((e) => DrawerToggle())" Color="Color.Inherit">
            <MudIcon Icon="@Icons.Material.Filled.Person" Color="Color.Inherit" Class="mr-2" />
            Bálint
        </MudButton>
    </MudAppBar>
    <MudDrawer @bind-Open="@_drawerOpen" Anchor="Anchor.Right" ClipMode="DrawerClipMode.Docked">
        <TeamSettings />
    </MudDrawer>
    <MudMainContent>
        <MudContainer MaxWidth="MaxWidth.Medium" Class="mt-6">
            @Body
        </MudContainer>
    </MudMainContent>
</MudLayout>
@code {
    bool _drawerOpen = false;

    void DrawerToggle()
    {
        _drawerOpen = !_drawerOpen;
    }
}