@using WhatToEat.App.Razor.Internal;
@using WhatToEat.App.Storage.Model;
@using WhatToEat.App.Storage.Repositories;
@inherits BaseComponent;

<span class="mt-3"></span>

<MudPaper Class="m-3 p-2">
	<strong>Team members:</strong>
	<MudList Clickable="true">
		@foreach (var user in Admins)
		{
			<MudListItem Text="@user.Name" Icon="@Icons.Material.Filled.VerifiedUser" />
		}
		<MudDivider />
		@foreach (var user in Members)
		{
			<MudListItem Text="@user.Name" Icon="@Icons.Material.Filled.Person" />
		}
	</MudList>
</MudPaper>

@code {
	List<User> Users { get; set; } = new();

	IEnumerable<User> Members => Users.Where(x => !x.Admin);

	IEnumerable<User> Admins => Users.Where(x => x.Admin);

	[Inject]
	UserRepository UserRepository { get; set; } = default!;

	protected override async Task OnInitializedAsync()
	{
		Users = await UserRepository.GetAllAsync(CancellationToken);
	}
}
